.infoSectionDark>a>button, .infoSectionLight>a>button {
  display: flex;
  align-items: center;
  gap: .8rem;
  cursor: pointer;
  border-radius: 5%;
  border-style: none;
  box-shadow: 10px 5px 5px;
  margin-left: 3rem;
  width: 5rem;
}

.borderButton {
  width: 5rem;
}

.borderButtons {
  display: flex;
  justify-content: center;
}
.borderButtons>a>button {
  width: 5rem;
}

#arrow-img {
  margin: auto;
}

.infoSectionDark>button {
  background-color: hsl(209, 23%, 22%);
}

.infoSectionLight>button {
  background-color: hsl(0, 0%, 100%);
}

.infoSectionDark {
  background-color: rgb(32, 44, 55);
  min-height: 100vh;
  color: rgb(255, 255, 255);
}

.infoSectionLight {
  background-color: rgb(245, 245, 245);
  min-height: 100vh;
  color: hsl(200, 15%, 8%);
}

.info {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}

#infoImage {
  height: 20rem;
  width: 40rem;
}

.infoText {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0 1rem;
  margin-left: 1rem;
  font-size: smaller;
  text-align: left;
}

.gridExpandTwo {
  font-size: 1.25rem;
  grid-column: span 2;
  margin-left: 1rem;
}