#flagGameContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: fit-content;
  gap: 0.8rem;
}

#flagGameContainer > p, #flagGameContainer > h4 {
  margin-top: -1rem;
}

.flagGameDark {
  color: rgb(255, 255, 255);
  background-color: rgb(32, 44, 55);
  padding: 1rem;
  min-height: 100Vh;
}

.flagGameLight {
  color: hsl(200, 15%, 8%);
  background-color: rgb(245, 245, 245);
  padding: 1rem;
  min-height: 100Vh;
}

#answerInput {
  font-size: larger;
  width: 15rem;
  height: 2rem;
  margin-right: 3rem;
  padding: .5rem;
}
#flagGameContainer > button, #submitAnswerButton {
  padding: .75rem;
}


