.countryGridDark {
  background-color: rgb(32, 44, 55);
  min-height: 100vh;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.countryGridLight {
  background-color: rgb(243, 243, 243);
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

@media (max-width: 1175px) {
  .countryGridDark, .countryGridLight { grid-template-columns: repeat(3, 1fr); }
}
@media (max-width: 950px) {
  .countryGridDark, .countryGridLight { grid-template-columns: repeat(2, 1fr); }
}
@media (max-width: 600px) {
  .countryGridDark, .countryGridLight{ grid-template-columns: repeat(1, 1fr); }
}